*,
*::after,
*::before{
    box-sizing: border-box;
}
#cal{
    max-width: 1140px;
    width: 640px;
    height: 700px;
    background: rgb(14, 13, 13);
}
.input-box{
    width: 600px;
    height: 150px;
    background: rgb(31, 30, 30);
    color: white;
    border: 2px solid rgb(26, 25, 25);
    text-align: right;
    margin: 30px 5px 10px;
    font-size: 64px;
    font-weight: 700;
}
.box input{
    width: 140px;
    height: 70px;
    background: rgb(26, 25, 25);
    font-size: 24px;
    font-weight: 600;
    margin: 4px;
    color: white;
}
.box input:hover{
    background: rgb(31, 30, 30);
    color: white;
    font-weight: 800;
}

.fbox input{
    box-shadow: 1px 1px 5px rgb(100, 100, 100);
}